@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  font-family: 'Raleway', sans-serif;
}
h1 {
  color: purple;
}

img {
  border-style: solid;
  border-width: 5px;
}

a:link, a:visited {
    font-weight: bold;
    color: #ffffff;
    background-color: #98bf21;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active {
    background-color: #7A991A;
}

li{
  display:inline;
  }
